body {
  font: 20px, Arial, sans-serif;
}

.navbar {
  background-color: #69c999;
}
.nav-item {
  font-weight: bold;
  font-size: 1rem;
}

.quem-somos {
  background-color: rgb(143, 143, 207);
  padding-top: 50px;
  padding-bottom: 50px;
  color: whitesmoke;
}
.quem-somos h3 {
  padding-bottom: 20px;
}

.quem-somos h4 {
  padding-top: 20px;
}

.quem-somos u {
  color: rgb(128, 240, 184);
}

.parceiros {
  background-color: rgb(37, 117, 155);
  padding-top: 50px;
  padding-bottom: 50px;
  color: whitesmoke;
}

.margin {
  padding-bottom: 50px;
  padding-top: 20px;
}
.bg-footer {
  background-color: black;
  color: white;
}
#carousel-fotos {
  background-color: cadetblue;
  text-align: center;
  padding-top: 10px;
}

.carousel-inner img {
  padding-bottom: 40px;
}
